<ng-container *ngIf="message">
  <ion-item
    [ngClass]="{
      'chat-message': true,
      own: receiverId === message.receiverRef._key.path.segments[6]
    }"
    id="{{ message.guid }}"
  >
    <div>
      <div class="name" *ngIf="message.groupId">
        <ng-container *ngIf="message.senderRef | doc | async as sender">
          {{ sender.displayName }}
        </ng-container>
      </div>
      <p class="text">
        {{ message | decrypt | async }}
      </p>
      <ng-container *ngIf="message.createdAt && message.createdAt.toDate">
        <div class="time">
          {{ message.createdAt | time }}
        </div>
      </ng-container>
    </div>
  </ion-item>
</ng-container>
