<ion-header>
  <ion-toolbar *ngIf="receiver$ | async as receiver">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chats"></ion-back-button>
    </ion-buttons>

    <ion-title>{{receiver.displayName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="message-container">
    <ng-container *ngIf="messageRefs$ | async as messageRefs">
      <ng-container *ngFor="let messageRef of messageRefs">
        <app-chat-message
          *ngIf="messageRef | doc | async as message"
          [message]="message"
          [receiverId]="receiverId"
          id="{{message.guid}}"
        ></app-chat-message>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="unreadMessageRefs$ | async as unreadMessageRefs">
      <ng-container *ngIf=" unreadMessageRefs && unreadMessageRefs.length > 0">
        <ion-item class="unread">
          {{unreadMessageRefs.length}} ungelesene Nachrichten
        </ion-item>
        <ng-container *ngFor="let unreadMessageRef of unreadMessageRefs">
          <ng-container *ngIf="unreadMessageRef | doc | async as unreadMessage">
            <app-chat-message
              *ngIf="unreadMessageRef | doc | async as unreadMessage"
              appObserveVisibility
              [debounceTime]="300"
              (visible)="onVisible($event)"
              [message]="unreadMessage"
              [receiverId]="receiverId"
              id="{{unreadMessage.guid}}"
            ></app-chat-message>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>

<app-chat-footer
  [responseTo]="responseTo"
  [receiverId]="receiverId"
></app-chat-footer>
