<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title> Profil Bearbeiten </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="max-width: 560px; margin: 4rem auto">
    <ion-text>
      <h1>Profil Bearbeiten</h1>
    </ion-text>
    <form #profileForm="ngForm" (ngSubmit)="onSubmit()">
      <ion-grid style="--ion-grid-padding: 0.5rem">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" floating>Name</ion-label>
              <ion-input
                type="text"
                inputmode="text"
                [(ngModel)]="model.displayName"
                name="displayName"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" floating>Telefonnummer</ion-label>
              <ion-input
                type="tel"
                inputmode="tel"
                [(ngModel)]="model.phoneNumber"
                name="phoneNumber"
              >
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" floating>Profilfoto URL</ion-label>
              <ion-input
                type="text"
                inputmode="text"
                [(ngModel)]="model.photoURL"
                name="photoURL"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" floating>Beschreibung</ion-label>
              <ion-textarea [(ngModel)]="model.description" name="description">
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block" (click)="onSubmit()"
              >Speichern
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
