<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="max-width: 560px; margin: 4rem auto">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <ion-grid style="--ion-grid-padding: 0.5rem">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" floating>E-Mail</ion-label>
              <ion-input
                inputmode="email"
                type="email"
                name="email"
                [(ngModel)]="model.email"
                [value]="model.email"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" floating>Password</ion-label>
              <ion-input
                inputmode="password"
                type="password"
                name="Password"
                [(ngModel)]="model.password"
                [value]="model.password"
              >
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: end">
            <ion-router-link routerLink="/forgot-password"
              >Passwort vergessen?</ion-router-link
            >
          </ion-col>
        </ion-row>
        <ion-row *ngIf="errorMessage !== ''">
          <ion-col>
            <span style="color: var(--ion-color-danger)">{{errorMessage}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block">Login</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="button" routerLink="/sign-up" expand="block"
              >Registrieren</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text
            ><h2 style="text-align: center">
              Weitere Loginmöglichkeiten
            </h2></ion-text
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="button"
            (click)="googleLogin()"
            color="light"
            expand="block"
            ><ion-icon name="logo-google" style="margin-right: 1ch"></ion-icon>
            Login mit Google</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="button"
            (click)="gitHubLogin()"
            color="dark"
            expand="block"
            ><ion-icon name="logo-github" style="margin-right: 1ch"></ion-icon>
            Login mit Github</ion-button
          ></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="button"
            (click)="twitterLogin()"
            color="secondary"
            expand="block"
          >
            Login mit Twitter</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
