<ng-container *ngIf="message">
  <ion-item class="chat-message" id="{{ message.id }}">
    <div
      [ngClass]="{
        own: receiverId === message.receiverId
      }"
    >
      <div class="name" *ngIf="message.groupId">
        <ng-container *ngIf="message.senderId | doc | async as sender">
          {{ sender.displayName }}
        </ng-container>
      </div>
      <p class="text">
        {{ message | decrypt | async }}
      </p>
      <ng-container *ngIf="message.createdAt && message.createdAt.toDate">
        <div class="time">
          {{ message.createdAt | time }}
        </div>
      </ng-container>
    </div>
  </ion-item>
</ng-container>
