<div *ngIf="message" class="chat-message" [id]="message.id">
  <div
    [ngClass]="{
      own: receiverId === message.receiverId
    }"
  >
    <div class="name" *ngIf="message.groupId">
      <ng-container *ngIf="message.senderId | doc | async as sender">
        {{ sender.displayName }}
      </ng-container>
    </div>
    <p class="text">
      {{ message.text | decrypt | async }}
    </p>
    <div class="time" *ngIf="message.createdAt && message.createdAt.toDate">
      {{ message.createdAt | time }}
    </div>
  </div>
</div>
