<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/chats"></ion-back-button>
    </ion-button>
    <ion-title>single-chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let message$ of messages">
    <div *ngIf="message$ | async as message">
      <!-- <div>{{decrypt(message.text) }}</div> -->
      <div><app-promise [promise]="decrypt(message.text)"></app-promise></div>
      <div>{{message.createdAt.toDate()}}</div>
    </div>
  </ng-container>
</ion-content>

<app-chat-footer [responseTo]="responseTo" [receiverId]="uid"></app-chat-footer>
