<ion-header>
  <ion-toolbar>
    <ion-title>Passwort vergessen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="max-width: 560px; margin: 4rem auto">
    <form #forgotPasswordForm="ngForm" (ngSubmit)="forgotPassword()">
      <ion-grid style="--ion-grid-padding: 0.5rem">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating" floating>E-Mail</ion-label>
              <ion-input
                type="email"
                name="email"
                [(ngModel)]="email"
                value="{{email}}"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block">Abschicken</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
